@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
/*l * 100 / 1024*/
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
body {
  font-family: palatino, "palatino lt std", "palatino linotype", "book antiqua", garamond, serif;
  font-size: 15px;
  line-height: 1.5;
  color: #111111;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

html {
  height: 100%; }

a {
  color: #2e70ea; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    outline: 0; }

p {
  margin: 0.5em 0;
  line-height: 1.5;
  font-family: palatino, "palatino lt std", "palatino linotype", "book antiqua", garamond, serif; }

.container {
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: 0; }
  .container:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  line-height: 0.75;
  font-weight: bold;
  padding-bottom: 0.2em;
  margin-bottom: 0;
  margin-top: 0; }

h1 {
  font-size: 3.142em;
  border-bottom: 1px solid #eeeeee; }

h2 {
  font-size: 2.618em;
  border-bottom: 1px solid #eeeeee; }

h3 {
  font-size: 1.942em;
  border-bottom: 1px solid #eeeeee; }

h4 {
  font-size: 1.618em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

.logo {
  margin: 1em 0;
  border-bottom: 0; }

@media (max-width: 600px) {
  h1 {
    font-size: 2.805em;
    border-bottom: 1px solid #eeeeee; }

  h2 {
    font-size: 2.618em;
    border-bottom: 1px solid #eeeeee; }

  h3 {
    font-size: 1.734em;
    border-bottom: 1px solid #eeeeee; }

  h4 {
    font-size: 1.618em; }

  h5 {
    font-size: 1.2em; }

  h6 {
    font-size: 1.1em; } }
.section {
  display: inline-block;
  position: absolute;
  height: 0;
  text-indent: -99999999px;
  border: none;
  padding: 0;
  margin: 0; }

.reader {
  display: inline-block;
  position: absolute;
  height: 0;
  text-indent: -99999999px;
  border: none; }

.hide {
  display: none !important; }

.wrapper {
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box; }
  .wrapper:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .wrapper:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

article, .article {
  padding-bottom: 2em;
  margin-bottom: 1em;
  border-bottom: 1px solid #bfbfbf;
  position: relative; }

h1, h2, h3, h4 {
  text-align: center; }

.breadcrumbs {
  background-color: #f2f2f2;
  padding: 0.2em 0;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  margin: 0.5em auto; }
  .breadcrumbs:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.btn, input[type=submit], button {
  color: white;
  text-align: center;
  background-color: #2e70ea;
  padding: 6px 12px;
  border: none;
  margin: 5px 0;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box; }
  .btn:hover, input[type=submit]:hover, button:hover {
    -webkit-box-shadow: #5c90ef 0 0 2px 1px;
    -moz-box-shadow: #5c90ef 0 0 2px 1px;
    box-shadow: #5c90ef 0 0 2px 1px;
    background-color: #1760e7;
    border: none; }
  .btn:focus, input[type=submit]:focus, button:focus {
    -webkit-box-shadow: #2e70ea 0 0 2px 1px;
    -moz-box-shadow: #2e70ea 0 0 2px 1px;
    box-shadow: #2e70ea 0 0 2px 1px;
    background-color: #1557d0;
    border: none; }
  .btn:visited, input[type=submit]:visited, button:visited {
    color: rgba(255, 255, 255, 0.9); }
  .btn a, input[type=submit] a, button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border: none; }
    .btn a:hover, input[type=submit] a:hover, button a:hover {
      border: none;
      background-color: transparent; }
    .btn a:visited, input[type=submit] a:visited, button a:visited {
      color: rgba(255, 255, 255, 0.8); }

input[type=search] ~ input[type=submit] {
  text-indent: -99999px;
  background-image: url("../img/framework/icon/search.png");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center; }

label {
  padding: 10px 2px;
  display: inline-block; }

form {
  width: 100%; }

input, textarea {
  display: inline-block;
  border: 1px solid #bfbfbf;
  background-color: #f2f2f2;
  padding: 2px 1em;
  margin: 10px 10px 10px 0;
  height: 40px;
  float: left;
  box-sizing: border-box; }
  input:hover, textarea:hover {
    border: 1px solid #5c90ef;
    outline: none;
    background-color: #FFF;
    -webkit-box-shadow: #5c90ef 0 0 2px 1px;
    -moz-box-shadow: #5c90ef 0 0 2px 1px;
    box-shadow: #5c90ef 0 0 2px 1px; }
  input:focus, textarea:focus {
    border: 1px solid #2e70ea;
    outline: none;
    background-color: #FFF;
    -webkit-box-shadow: #2e70ea 0 0 2px 1px;
    -moz-box-shadow: #2e70ea 0 0 2px 1px;
    box-shadow: #2e70ea 0 0 2px 1px; }
  input:hover label, textarea:hover label {
    background-color: red; }

@media (max-width: 600px) {
  input {
    width: auto;
    display: block; } }
img {
  max-width: 100%;
  margin: 0.5em 0; }

.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  margin-right: 0.5em;
  top: 0;
  text-indent: -999999px;
  background-size: 100%; }

.icon-menu {
  background-image: url("../img/framework/icon/menu2White.png"); }

.icon-chevron-left-little {
  width: 16px;
  height: 16px;
  background-image: url("../img/framework/icon/chevron-left-little.png"); }

.icon-chevron-right-little {
  background-image: url("../img/framework/icon/chevron-right-little.png"); }

.icon-chevron-right-white {
  float: right;
  background-image: url("../img/framework/icon/chevron-rightWhite.png"); }

.icon-chevron-right-little-white {
  height: 16px;
  width: 16px;
  background-image: url("../img/framework/icon/chevron-right-littleWhite.png"); }

.icon-chevron-bottom-white {
  float: right;
  background-image: url("../img/framework/icon/chevron-bottomWhite.png"); }

.icon-shop-white {
  float: right;
  background-image: url("../img/framework/icon/shopWhite.png"); }

.icon-map-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/map-little.png"); }

.icon-email-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/mail-little.png"); }

.icon-tel-little {
  height: 16px;
  width: 16px;
  float: right;
  background-image: url("../img/framework/icon/tel-little.png"); }

.icon-bag-white {
  height: 32px;
  width: 32px;
  background-image: url("../img/framework/icon/bagWhite.png"); }

.icon-go-white {
  height: 32px;
  width: 32px;
  background-image: url("../img/framework/icon/goWhite.png"); }

.icon-login {
  height: 16px;
  width: 16px;
  float: none;
  background-image: url("../img/framework/icon/login.png"); }

.icon-account {
  height: 16px;
  float: none;
  width: 16px;
  background-image: url("../img/framework/icon/account.png"); }

.tab a {
  font-family: Oswald, "Helvetica neue", arial, freesans, clean, sans-serif; }

/* GENERAL */
body {
  background-color: #EFE8D6; }

.hero {
  display: inline-block;
  width: 100%;
  background-color: #2e70ea;
  font-weight: 400;
  color: white;
  font-size: 16px;
  height: 40px;
  box-sizing: border-box;
  text-align: left;
  vertical-align: middle;
  position: relative;
  font-family: Oswald,'helvetica neue',arial; }
  .hero a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 1em;
    vertical-align: middle;
    padding-top: 5px;
    box-sizing: border-box; }
    .hero a:hover, .hero a:focus {
      background-color: #666666; }
  .hero h2 {
    font-size: 16px;
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;
    float: left;
    height: 100%;
    font-weight: 400;
    box-sizing: border-box;
    left: 0;
    padding: 0 1em;
    padding-top: 8px; }
  .hero:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* END GENERAL */
/* MAIN */
/* END MAIN*/
/* SEARCH */
.search {
  height: 40px; }

form {
  height: 100%; }

input {
  margin: 0; }

input[type=submit] {
  margin: 0; }

input[type=search] {
  width: 90%;
  height: 100%; }
  input[type=search]:hover, input[type=search]:focus {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

input[type=submit].icon-search {
  width: 10%;
  background-color: #f2f2f2;
  height: 100%; }
  input[type=submit].icon-search:hover, input[type=submit].icon-search:focus {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0; }

/* END SEARCH */
/* NAVIGATION */
.menu {
  background-color: #2e70ea;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px 0px;
  box-shadow: rgba(0, 0, 0, 0.6) 0 2px 4px 0px;
  /* &>a:first-child{
  	&:hover,&:focus{
  		background-color: $mc;
  	}
  } */ }

.hyperlinks {
  display: none; }

.nav {
  text-align: center;
  position: relative; }
  .nav .invisible-link {
    width: 100%;
    display: none;
    overflow: visible;
    background-color: #666666;
    font-weight: 400;
    font-family: Oswald,'helvetica neue','helvetica',arial;
    text-transform: uppercase; }
    .nav .invisible-link li {
      display: inline-block;
      width: 100%;
      color: white;
      padding: 0.6em 1em;
      border-bottom: 1px solid #404040;
      box-sizing: border-box;
      margin: 0;
      top: 0;
      text-align: left; }
      .nav .invisible-link li a {
        color: white;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        float: left; }
      .nav .invisible-link li:last-child {
        border-bottom: 0; }
      .nav .invisible-link li:hover {
        background-color: #2e70ea; }
  .nav .maxDev {
    display: none;
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .nav .maxDev li {
      height: 250px;
      background-color: white;
      margin: 1em 0;
      color: #111111;
      text-overflow: ellipsis;
      overflow: hidden; }
      .nav .maxDev li a {
        display: inline-block;
        height: auto;
        color: #111111;
        width: 70%;
        -ms-text-overflow: ellipsis;
        -webkit-text-overflow: ellipsis;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis; }
      .nav .maxDev li .imgMenu {
        display: block; }
      .nav .maxDev li:hover {
        background-color: white; }
    .nav .maxDev #maxDev {
      padding-left: 1em; }
    .nav .maxDev .underLink {
      margin-bottom: 0.5em;
      position: relative;
      padding: 5px 20px; }
      .nav .maxDev .underLink:hover {
        background-color: #737373; }
      .nav .maxDev .underLink:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .nav .maxDev .underLink img {
        display: none; }
      .nav .maxDev .underLink:before {
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        content: "";
        background-image: url("../img/framework/icon/chevron-right-littleWhite.png"); }
    .nav .maxDev .underLink.categorie {
      background-color: #2e70ea; }
    .nav .maxDev .invisible-link > li:hover .maxDev .categorie {
      background-color: #737373; }

/* END NAVIGATION */
/* PANIER */
.panierItem {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 30;
  background-color: #f2f2f2;
  padding: 1em 1em; }
  .panierItem a {
    pointer-events: auto; }

.panier {
  position: relative;
  pointer-events: none; }
  .panier .hero {
    pointer-events: auto; }

#quantite {
  width: 50px;
  float: none; }

.achatProduit {
  float: left;
  position: absolute;
  left: 0;
  bottom: 0; }

.what {
  display: none;
  box-sizing: border-box; }
  .what:after {
    visibility: visible !important;
    height: 28px !important; }

.banner {
  position: relative;
  background-image: url("../img/framework/background/grid.png");
  background-position: bottom;
  background-color: #f2f2f2;
  min-height: 285px;
  display: block; }
  .banner:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .banner .wrapper {
    overflow: visible; }
  .banner .welcome {
    display: block;
    height: 125px; }
    .banner .welcome:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .banner .welcome .logo {
      margin: 0 auto;
      display: block;
      height: 100%;
      background-position: center;
      text-indent: -999999px;
      background-image: url("../img/logo.png");
      background-size: contain;
      background-repeat: no-repeat; }
      .banner .welcome .logo a {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        text-shadow: 2px 2px 0 black, 4px 6px 2px white; }

/* END PANIER */
/* CONNEXION */
.connexion {
  background-color: white;
  text-align: center;
  display: block;
  height: auto;
  border: 2px solid #bfbfbf; }
  .connexion a {
    color: #111111; }

/* END CONNEXION */
.content {
  background-color: #d8d8d8;
  padding: 1em 0.5em; }

/* INTRO */
.intro {
  display: none;
  background-color: #2e70ea;
  padding: 1em 1em;
  overflow: hidden;
  color: white;
  height: 30%;
  font-family: palatino, "palatino lt std", "palatino linotype", "book antiqua", garamond, serif;
  box-sizing: border-box; }
  .intro h3 {
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 0; }
  .intro p {
    font-size: 1em;
    font-family: inherit;
    line-height: 1.8; }
  .intro .textIntro {
    max-width: 600px;
    margin: auto;
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box; }
    .intro .textIntro:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .intro .introContent {
    height: 100%;
    display: block;
    padding: 1em 0; }
  .intro .iconIntro {
    width: 99%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    height: 100%; }
    .intro .iconIntro:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

/* END INTRO */
/* ARTICLE */
#imageContainer {
  height: 100%; }

.selection {
  background-color: #d8d8d8;
  padding-bottom: 12px;
  text-align: center; }
  .selection .article {
    width: 83.33333%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    display: inline-block;
    background-color: white;
    padding-bottom: 0;
    margin-top: 24px;
    margin-bottom: 12px;
    position: relative;
    height: 400px;
    float: none;
    width: 250px;
    overflow: hidden; }
    .selection .article:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .selection .article .informationsArticle {
      background-color: #f2f2f2;
      padding: 1em 1em;
      padding-bottom: 1em;
      height: 132px;
      position: relative;
      box-sizing: border-box; }
    .selection .article .image {
      margin: auto;
      max-width: 100%;
      height: 266.6666px;
      text-align: center;
      overflow: hidden;
      position: relative;
      pointer-events: auto; }
      .selection .article .image img {
        width: 100%;
        margin: auto;
        display: block;
        float: none;
        box-sizing: border-box;
        max-height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        position: absolute;
        z-index: 1; }
        .selection .article .image img:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
    .selection .article .image:hover .overImage {
      position: absolute;
      top: 0;
      bottom: 0;
      background-color: #2e70ea;
      display: block;
      height: 266.6666px;
      width: 100%;
      z-index: 10;
      pointer-events: none;
      text-indent: 0;
      padding: 1em;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .selection .article .image:hover .overImage h3 {
        margin-bottom: 1em;
        padding-bottom: 0.5em;
        line-height: 1.2; }
    .selection .article .overImage {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      bottom: 50%;
      background-color: #2e70ea;
      background-position: -100px;
      display: block;
      height: 0;
      width: 100%;
      box-sizing: border-box;
      z-index: 10;
      color: white;
      text-align: left;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      text-indent: -99999px;
      overflow: hidden;
      text-overflow: ellipsis; }
      .selection .article .overImage:hover {
        height: 266.6666px;
        top: 0;
        bottom: 0;
        text-indent: 0;
        padding: 1em; }
      .selection .article .overImage h3 {
        border: none;
        font-weight: bold;
        font-size: 1.5em; }
    .selection .article h3 {
      font-size: 15px;
      font-weight: 400; }
    .selection .article .infoProduct {
      width: 33.33333%;
      margin: auto;
      display: block;
      float: none;
      box-sizing: border-box;
      text-align: center; }
      .selection .article .infoProduct:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .selection .article .infoProduct .price {
        font-size: 20px;
        font-weight: 700;
        color: #1557d0; }
    .selection .article .interactionProduct {
      width: 100%;
      margin: auto;
      display: block;
      float: none;
      box-sizing: border-box;
      text-align: center; }
      .selection .article .interactionProduct:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .selection .article .interactionProduct a {
        margin-right: 0.5em;
        text-indent: -999999px;
        width: 40.66667%;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        box-sizing: border-box;
        margin-bottom: 1%;
        height: 40px;
        vertical-align: middle;
        line-height: 1.2;
        background-repeat: no-repeat;
        background-position: center; }
        .selection .article .interactionProduct a:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
      .selection .article .interactionProduct a + a {
        width: 40.66667%;
        margin-left: 0.5%;
        float: right;
        display: block;
        box-sizing: border-box;
        margin-left: 0.5em; }
        .selection .article .interactionProduct a + a:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
  .selection .article + .article {
    margin-top: 0;
    margin-left: 24px; }
  .selection:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* END ARTICLE */
/* FOOTER */
.footer {
  border-top: 10px solid #737373;
  padding: 1em;
  background-color: #353535;
  color: white;
  min-height: 200px;
  text-align: left; }
  .footer h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: left; }
  .footer span.icon {
    float: left;
    margin-top: 4px; }
  .footer a {
    color: white;
    text-decoration: none; }
    .footer a:hover {
      text-decoration: underline; }
  .footer .informationsShop {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    margin-top: 1em; }
    .footer .informationsShop:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .footer .info {
    display: inline-block;
    padding: 0.5em;
    background-color: #4580ec;
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    margin: 0.5em auto; }
    .footer .info:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .footer .foot > h2 {
    padding-bottom: 0.5em; }

/* END FOOTER */
/* TABLE */
table {
  margin: auto; }

/* END TABLE*/
/* VOIR PRODUIT */
.produit {
  background-color: white;
  padding: 3em 1em; }
  .produit h1 {
    color: #2e70ea;
    padding-bottom: 0.8em;
    border-bottom: 0; }

.imagesProduit {
  margin-top: 0.5em;
  margin-bottom: 3em; }
  .imagesProduit .image {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    background-color: white; }
    .imagesProduit .image:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .imagesProduit .image img {
      display: block;
      margin: auto; }

.buyContent {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #bfbfbf;
  margin-top: 1em;
  text-align: left; }
  .buyContent label {
    float: left;
    margin-right: 0.3em; }
  .buyContent input[type="submit"] {
    text-indent: -999999px;
    background-image: url("../img/framework/icon/shopWhite.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    width: 60px; }

.panierProduit {
  height: auto;
  min-height: 100px;
  margin-bottom: 1em;
  position: relative; }
  .panierProduit select {
    margin: 10px 0; }
  .panierProduit:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

.btn-panier {
  background-color: #0a9617; }

.tab {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid #2e70ea; }
  .tab li {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    min-width: 110px;
    max-width: 200px;
    background-color: #5c90ef;
    color: white;
    height: 100%;
    margin-left: 0;
    padding: 0.5em; }
    .tab li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .tab li + li {
      width: 32.33333%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box;
      max-width: 200px; }
      .tab li + li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    .tab li.active {
      background-color: #2e70ea; }
    .tab li a {
      display: block;
      height: 100%;
      width: 100%;
      color: white;
      text-decoration: none; }

.more, .exerpt {
  font-size: 18px;
  line-height: 28px; }
  .more p, .exerpt p {
    margin-bottom: 1em; }

.exerpt {
  text-align: left;
  border-bottom: 1px solid #bfbfbf; }
  .exerpt h4 {
    display: inline; }

.prix {
  font-size: 2em;
  display: inline-block;
  color: #2e70ea;
  margin-bottom: 0.5em;
  font-weight: bold; }

.disponibilite {
  display: block;
  color: #14b40a;
  margin-bottom: 1em;
  font-size: 1.1em; }

.reference {
  margin-bottom: 1em;
  font-size: 1.1em; }

.carrousel {
  height: 70px;
  text-align: center; }
  .carrousel .miniatures {
    height: 100%;
    width: 99%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .carrousel .miniatures:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .carrousel .miniatures li {
      width: 24%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%;
      height: 100%;
      overflow: hidden; }
      .carrousel .miniatures li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .carrousel .miniatures li img {
        width: 64px;
        height: 64px; }
    .carrousel .miniatures .next, .carrousel .miniatures .previous {
      border: 0;
      position: relative;
      width: 11.5%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box;
      text-indent: -9999999px; }
      .carrousel .miniatures .next:after, .carrousel .miniatures .previous:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .carrousel .miniatures .next .icon, .carrousel .miniatures .previous .icon {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
      .carrousel .miniatures .next:hover, .carrousel .miniatures .next:focus, .carrousel .miniatures .previous:hover, .carrousel .miniatures .previous:focus {
        background-color: #f2f2f2; }

/* END VOIR PRODUIT*/
/* CATEGORIE */
.tri, .display {
  float: right;
  display: block;
  height: 100%;
  margin-left: 1em; }
  .tri span, .tri select, .display span, .display select {
    vertical-align: middle; }

.introCategorie {
  padding: 0 1em;
  text-align: left;
  margin: auto;
  font-size: 18px;
  line-height: 28px; }

.selection.categorie .article {
  height: 300px;
  margin-left: 0.5%; }
  .selection.categorie .article .image {
    height: 70%; }
  .selection.categorie .article .overImage h3 {
    margin-bottom: 0; }
  .selection.categorie .article .overImage p {
    margin-top: 0; }
  .selection.categorie .article h3 {
    font-size: 1.2em; }
.selection.categorie .interactionProduct a {
  margin: auto;
  float: none; }

.selection.sousCategorie .elementsCategorie .article {
  height: 400px;
  margin-left: 0.5%; }
  .selection.sousCategorie .elementsCategorie .article .interactionProduct a {
    margin: auto;
    float: left; }
    .selection.sousCategorie .elementsCategorie .article .interactionProduct a + a {
      float: right; }
  .selection.sousCategorie .elementsCategorie .article .overImage h3 {
    line-height: 1.3; }

.titleCategorie {
  margin-top: 1em; }
  .titleCategorie h3 {
    font-size: 1.8em;
    text-align: center;
    border-bottom: 0; }

/*END CATEGORIE*/
/* ORDERSTEPS */
.order {
  margin: 1em 0;
  padding: 1em; }

.order1 h3 {
  margin: 1em 0;
  border-bottom: 0;
  text-align: left; }
.order1:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.order2 {
  margin-top: 1em; }
  .order2:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .order2 .creerCompte {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    background-color: white;
    padding: 1em; }
    .order2 .creerCompte:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .order2 fieldset {
    border: 1px solid #737373;
    padding: 1em; }
    .order2 fieldset legend {
      font-size: 1.2em;
      font-family: Oswald, "Helvetica neue", arial, freesans, clean, sans-serif; }
  .order2 input {
    float: none; }

.orderSteps {
  display: block;
  max-width: 800px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin: auto;
  width: 100%; }
  .orderSteps li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
    .orderSteps li:first-child, .orderSteps li.first {
      padding-left: 0; }
    .orderSteps li:last-child {
      padding-right: 0; }
    .orderSteps li.last {
      padding-right: 0; }
  .orderSteps li {
    width: 19%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    height: 100%; }
    .orderSteps li:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .orderSteps li a {
      color: #111111;
      background-color: white;
      text-decoration: none;
      text-align: center;
      display: block;
      height: 100%;
      vertical-align: middle;
      font-family: Oswald, "Helvetica neue", arial, freesans, clean, sans-serif; }
      .orderSteps li a span {
        padding-top: 10px; }
      .orderSteps li a:hover, .orderSteps li a:focus {
        background-color: #5c90ef;
        color: white; }
    .orderSteps li .number {
      display: block; }
    .orderSteps li .title {
      display: none; }
    .orderSteps li + li {
      width: 19%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box; }
      .orderSteps li + li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
  .orderSteps .active a {
    background-color: #2e70ea;
    color: white; }
    .orderSteps .active a:hover, .orderSteps .active a:focus {
      background-color: #5c90ef; }

.headerTableCommande {
  height: auto;
  display: block; }
  .headerTableCommande thead {
    background-color: #666666;
    color: white;
    display: block;
    padding: 0.5em;
    height: 40px;
    width: 100%;
    box-sizing: border-box; }
    .headerTableCommande thead tr {
      display: block;
      width: 100%;
      height: 100%; }
      .headerTableCommande thead tr th {
        width: 28.16667%;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        box-sizing: border-box;
        margin-bottom: 1%;
        text-align: left; }
        .headerTableCommande thead tr th:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .headerTableCommande thead tr th + th {
          width: 28.16667%;
          margin-left: 0.5%;
          margin-right: 0.5%;
          float: left;
          display: block;
          box-sizing: border-box; }
          .headerTableCommande thead tr th + th:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        .headerTableCommande thead tr th.action {
          width: 11.5%;
          margin-left: 0.5%;
          margin-right: 0.5%;
          float: left;
          display: block;
          box-sizing: border-box; }
          .headerTableCommande thead tr th.action:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        .headerTableCommande thead tr th.optionnal {
          display: none; }
  .headerTableCommande tbody {
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 0.5em; }
    .headerTableCommande tbody tr {
      height: 40px;
      width: 100%;
      display: block; }
      .headerTableCommande tbody tr td {
        line-height: 1.1;
        width: 28.16667%;
        float: left;
        margin-left: 0.5%;
        margin-right: 0.5%;
        display: block;
        box-sizing: border-box;
        margin-bottom: 1%; }
        .headerTableCommande tbody tr td:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .headerTableCommande tbody tr td + td {
          width: 28.16667%;
          margin-left: 0.5%;
          margin-right: 0.5%;
          float: left;
          display: block;
          box-sizing: border-box; }
          .headerTableCommande tbody tr td + td:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        .headerTableCommande tbody tr td.action {
          width: 11.5%;
          margin-left: 0.5%;
          margin-right: 0.5%;
          float: left;
          display: block;
          box-sizing: border-box; }
          .headerTableCommande tbody tr td.action:after {
            content: "";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden; }
        .headerTableCommande tbody tr td.action.delete {
          text-indent: -999999px;
          background-image: url('../img/framework/icon/delete.png?1387050668');
          background-repeat: no-repeat; }
          .headerTableCommande tbody tr td.action.delete a {
            display: block;
            width: 16px; }
        .headerTableCommande tbody tr td.optionnal {
          display: none; }

.totalProduit {
  display: block;
  text-align: right;
  height: auto;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  background-color: #737373;
  color: white;
  box-sizing: border-box; }
  .totalProduit:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .totalProduit .number {
    display: inline-block;
    height: 100%;
    padding: 1em;
    font-size: 1.2em;
    background-color: #2e70ea;
    font-weight: bold;
    text-align: right; }

.fraisPort {
  display: block;
  text-align: right;
  height: auto;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  box-sizing: border-box;
  background-color: #bfbfbf; }
  .fraisPort:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .fraisPort .title {
    padding: 1em;
    height: 100%;
    display: inline-block; }
  .fraisPort .number {
    padding: 1em;
    text-align: right; }

.total {
  display: block;
  text-align: right;
  background-color: #e5e5e5;
  margin: auto;
  box-sizing: border-box;
  padding: 1em; }

.continuer {
  background-color: white;
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  height: 50px;
  max-width: 200px;
  padding-top: 12px;
  color: #111111; }
  .continuer:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .continuer:visited {
    color: #111111; }
  .continuer .icon {
    float: none;
    vertical-align: middle; }
  .continuer:hover, .continuer:focus {
    background-color: white; }

.commander {
  width: 100%;
  margin: auto;
  display: block;
  float: none;
  box-sizing: border-box;
  margin-top: 1em;
  height: 50px;
  padding-top: 12px;
  max-width: 200px;
  background-color: #2e70ea;
  position: relative; }
  .commander:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .commander .icon {
    float: none;
    vertical-align: middle; }

/* END ORDERSTEPS */
/* MEDIA QUERIES */
/* CONFIG */
/* typography */
/* END typography */
/*media*/
/*END MEDIA*/
/*COLOR*/
@media (min-width: 940px) {
  .foot {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .foot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .foot + .foot {
    width: 32.33333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .foot + .foot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* HEADER */
  .logo {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    box-sizing: content-box;
    height: 110px; }
    .logo:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .search {
    width: 40.66667%;
    margin-left: 0.5%;
    float: right;
    display: block;
    box-sizing: border-box;
    max-width: 400px; }
    .search:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .connexion {
    width: 40.66667%;
    margin-left: 0.5%;
    float: right;
    display: block;
    box-sizing: border-box;
    height: 40px;
    max-width: 400px; }
    .connexion:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .hero h2 {
    font-size: 1.2em; }

  .intro, .oneCategorie {
    background-image: url("../img/framework/slide/1/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    height: 400px;
    display: block;
    position: relative; }
    .intro p, .oneCategorie p {
      font-size: 1.3em; }
    .intro h3, .oneCategorie h3 {
      font-family: Oswald, "Helvetica neue", arial, freesans, clean, sans-serif;
      font-size: 3em;
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      position: absolute;
      left: 0;
      right: 0; }
    .intro .item1, .oneCategorie .item1 {
      background-image: url("../img/framework/slide/1/item1.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 185px;
      height: 250px;
      margin-left: 25%;
      float: left;
      left: -300px;
      opacity: 0;
      top: 100px;
      position: absolute;
      -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      -webkit-transition: all 1s ease;
      -webkit-transition-delay: 0.6s;
      -moz-transition: all 1s ease 0.6s;
      -o-transition: all 1s ease 0.6s;
      transition: all 1s ease 0.6s;
      box-sizing: border-box; }
      .intro .item1:hover, .oneCategorie .item1:hover, .intro .item1:focus, .oneCategorie .item1:focus {
        -webkit-transition: all 0.3s ease;
        -webkit-transition-delay: 0.2s;
        -moz-transition: all 0.3s ease 0.2s;
        -o-transition: all 0.3s ease 0.2s;
        transition: all 0.3s ease 0.2s;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px; }
    .intro .introContent, .oneCategorie .introContent {
      position: relative; }
    .intro .item2, .oneCategorie .item2 {
      background-image: url("../img/framework/slide/1/item2.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 185px;
      position: absolute;
      height: 250px;
      margin-right: 25%;
      float: left;
      top: 100px;
      right: -300px;
      opacity: 0;
      -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      box-shadow: rgba(0, 0, 0, 0.6) 0 0 10px 2px;
      -webkit-transition: all 0.8s ease;
      -webkit-transition-delay: 0.4s;
      -moz-transition: all 0.8s ease 0.4s;
      -o-transition: all 0.8s ease 0.4s;
      transition: all 0.8s ease 0.4s; }
      .intro .item2:hover, .oneCategorie .item2:hover, .intro .item2:focus, .oneCategorie .item2:focus {
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        -webkit-transition: all 0.3s ease-in;
        -webkit-transition-delay: 0.2s;
        -moz-transition: all 0.3s ease-in 0.2s;
        -o-transition: all 0.3s ease-in 0.2s;
        transition: all 0.3s ease-in 0.2s;
        -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px;
        -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0 0 30px 10px; }

  .oneCategorie {
    background-image: url("../img/framework/background/background-text3.jpg"); }
    .oneCategorie .introCategorie {
      max-width: 800px;
      font-size: 24.3px;
      line-height: 1.5;
      margin-top: 3em;
      text-align: justify; }
    .oneCategorie .introContent {
      background: radial-gradient(circle at center, rgba(0, 0, 0, 0.5), transparent); }

  /* PANIER */
  .panier {
    width: 40.66667%;
    margin-left: 0.5%;
    float: right;
    display: block;
    box-sizing: border-box;
    max-width: 400px; }
    .panier:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .panier:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .panierItem {
    width: 100%;
    margin: auto;
    display: block;
    float: none;
    box-sizing: border-box;
    display: none; }
    .panierItem:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END PANIER */
  /* END HEADER */
  /* ARTICLE */
  .selection .article {
    width: 19.83333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 12px;
    margin-bottom: 0; }
    .selection .article:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .selection .article + .article {
      width: 19.83333%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%;
      margin-top: 12px;
      margin-bottom: 0; }
      .selection .article + .article:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

  /* END ARTICLE */
  .banner {
    height: 200px;
    min-height: 30%; }
    .banner .welcome {
      width: 24%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%; }
      .banner .welcome:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

  /* MENU */
  .nav {
    height: 50px;
    background-color: #666666;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0 3px 3px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .nav .moreLink:hover + .maxDev, .nav .moreLink:focus + .maxDev {
      display: block; }
    .nav .invisible-link {
      display: inline-block;
      background-color: #666666;
      margin: auto;
      text-align: center;
      overflow: visible; }
      .nav .invisible-link li {
        width: 16.66667%;
        float: left;
        display: block;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        border-bottom: none;
        height: 100%;
        height: 50px;
        padding: 0;
        text-align: center;
        border-left: 1px solid white; }
        .nav .invisible-link li:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
        .nav .invisible-link li span.icon {
          display: none; }
        .nav .invisible-link li a {
          width: 100%;
          height: 100%;
          box-sizing: border-box; }
          .nav .invisible-link li a:hover, .nav .invisible-link li a:focus {
            background-color: #2e70ea;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            color: white; }
          .nav .invisible-link li a:hover + .maxDev, .nav .invisible-link li a:focus + .maxDev {
            -webkit-transition: all 0.3s ease;
            -webkit-transition-delay: 0.3s;
            -moz-transition: all 0.3s ease 0.3s;
            -o-transition: all 0.3s ease 0.3s;
            transition: all 0.3s ease 0.3s; }
        .nav .invisible-link li #maxDev {
          padding-left: 0; }
        .nav .invisible-link li .maxDev {
          -webkit-transition: all 0.3s ease-in;
          -webkit-transition-delay: 0.3s;
          -moz-transition: all 0.3s ease-in 0.3s;
          -o-transition: all 0.3s ease-in 0.3s;
          transition: all 0.3s ease-in 0.3s;
          top: 50px;
          left: 0;
          right: 0;
          position: absolute;
          z-index: 100;
          height: 400px;
          display: none;
          overflow: hidden;
          width: 100%;
          padding: 1em 0;
          background-color: #737373; }
          .nav .invisible-link li .maxDev li {
            height: 100%; }
            .nav .invisible-link li .maxDev li:hover, .nav .invisible-link li .maxDev li:focus {
              background-color: white; }
          .nav .invisible-link li .maxDev:hover, .nav .invisible-link li .maxDev:focus {
            height: 400px;
            width: 100%;
            display: block; }
          .nav .invisible-link li .maxDev .underLink {
            width: 15.66667%;
            float: left;
            margin-left: 0.5%;
            margin-right: 0.5%;
            display: block;
            box-sizing: border-box;
            margin-bottom: 1%;
            padding: 0;
            height: 150px;
            background-color: #f2f2f2; }
            .nav .invisible-link li .maxDev .underLink:after {
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden; }
            .nav .invisible-link li .maxDev .underLink + .underLink {
              width: 15.66667%;
              margin-left: 0.5%;
              margin-right: 0.5%;
              float: left;
              display: block;
              box-sizing: border-box; }
              .nav .invisible-link li .maxDev .underLink + .underLink:after {
                content: "";
                display: block;
                height: 0;
                clear: both;
                visibility: hidden; }
            .nav .invisible-link li .maxDev .underLink:before {
              content: "";
              display: none; }
            .nav .invisible-link li .maxDev .underLink .img {
              height: 70%;
              overflow: hidden;
              position: relative; }
              .nav .invisible-link li .maxDev .underLink .img img {
                display: block;
                max-height: 100%;
                max-width: 100%;
                margin: auto; }
            .nav .invisible-link li .maxDev .underLink span {
              height: 30%;
              display: block;
              vertical-align: middle;
              background-color: #2e70ea;
              color: white; }
          .nav .invisible-link li .maxDev .underLink.categorie a {
            display: block;
            padding-top: 50px;
            background-color: #2e70ea; }
      .nav .invisible-link li + li {
        width: 16.66667%;
        float: left;
        display: block;
        box-sizing: border-box; }
        .nav .invisible-link li + li:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
      .nav .invisible-link:last-child {
        border-right: 1px solid white; }

  .menu {
    display: none;
    overflow: visible;
    border-bottom: 0; }
    .menu .menuLink {
      display: block;
      height: 50px; }

  .hyperlinks {
    display: none;
    float: left;
    background-color: #2e70ea;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    *zoom: 1;
    width: 100%;
    text-align: center; }
    .hyperlinks li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
      .hyperlinks li:first-child, .hyperlinks li.first {
        padding-left: 0; }
      .hyperlinks li:last-child {
        padding-right: 0; }
      .hyperlinks li.last {
        padding-right: 0; }
    .hyperlinks ul {
      height: 50px; }
    .hyperlinks li {
      width: 15.66667%;
      float: left;
      margin-left: 0.5%;
      margin-right: 0.5%;
      display: block;
      box-sizing: border-box;
      margin-bottom: 1%;
      height: 50px;
      box-sizing: border-box; }
      .hyperlinks li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
      .hyperlinks li a {
        max-width: 100%; }
    .hyperlinks li + li {
      width: 15.66667%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box;
      position: relative;
      text-overflow: ellipsis; }
      .hyperlinks li + li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }
    .hyperlinks a {
      word-break: break-all;
      color: white;
      text-decoration: none;
      font-family: Oswald, "Helvetica neue", arial, freesans, clean, sans-serif;
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      text-overflow: ellipsis;
      width: 100%;
      padding-top: 10px; }

  /* END MENU */ }
@media (min-width: 625px) {
  .orderSteps li .number {
    display: inline-block; }
    .orderSteps li .number:after {
      content: ".";
      margin-right: 5px; }
  .orderSteps li .title {
    display: inline-block; }

  .banner .wrapper {
    overflow: hidden; }

  .commander {
    float: right; }

  .continuer {
    float: left;
    margin-top: 1em; }

  .intro h3 {
    border-bottom: 0; }
  .intro .textIntro {
    width: 49%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .intro .textIntro:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .intro .iconIntro {
    width: 40.66667%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    margin-left: 7.33333%; }
    .intro .iconIntro:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .titleCategorie {
    margin-top: 1em; }
    .titleCategorie h3 {
      font-size: 1.8em;
      text-align: left;
      border-bottom: 0;
      padding-left: 0.5%; }

  .what {
    width: 32.33333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    height: 100%;
    font-size: 1.5em;
    font-style: italic;
    display: block;
    line-height: 1.2;
    margin-top: 1.5em;
    font-weight: bold;
    position: relative;
    color: #666666;
    padding: 0 35px;
    text-align: center; }
    .what:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .what:after {
      display: block;
      background-image: url("../img/framework/icon/apostrophe.png");
      background-repeat: no-repeat;
      width: 32px;
      height: 28px;
      position: absolute;
      top: 0;
      right: 0;
      overflow: visible;
      visibility: visible; }
    .what:before {
      display: block;
      background-image: url("../img/framework/icon/apostrophe2.png");
      background-repeat: no-repeat;
      width: 32px;
      height: 28px;
      position: absolute;
      top: 0;
      left: 0;
      overflow: visible;
      visibility: visible;
      content: ""; }

  .produit .footerProduit {
    margin-bottom: 3em; }
    .produit .footerProduit:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .produit:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .produit .buyContent {
    width: 44.83333%;
    float: right;
    display: block;
    box-sizing: border-box;
    margin-left: 3.16667%;
    text-align: left;
    border-bottom: 0; }
    .produit .buyContent:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .produit .buyContent .prix {
      margin-bottom: 0; }
  .produit .exerpt {
    margin-top: 2em;
    width: 44.83333%;
    float: right;
    display: block;
    box-sizing: border-box;
    margin-left: 3.16667%; }
    .produit .exerpt:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
  .produit .imagesProduit {
    width: 49%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .produit .imagesProduit:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .panierProduit input[type="submit"] {
    float: left;
    display: block; } }
@media (min-width: 800px) and (max-width: 940px) {
  .banner {
    height: auto; }

  .welcome {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .welcome:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .welcome .logo {
      height: 100%; }

  .what {
    width: 49%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    margin-left: 7.33333%;
    height: 100%; }
    .what:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .selection .article {
    width: 24%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 12px;
    margin-bottom: 0; }
    .selection .article:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .selection .article + .article {
      margin-top: 12px;
      width: 24%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box; }
      .selection .article + .article:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; } }
@media (min-width: 625px) and (max-width: 800px) {
  .banner {
    height: auto; }

  .welcome {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .welcome:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .welcome .logo {
      height: 100%; }

  .what {
    width: 57.33333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box;
    margin-left: 7.33333%;
    height: 100%; }
    .what:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .panierItem {
    width: 100%;
    z-index: 10; }

  /* ARTICLE */
  .selection .article {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%;
    margin-top: 12px;
    margin-bottom: 0; }
    .selection .article:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    .selection .article + .article {
      margin-top: 12px;
      width: 32.33333%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      float: left;
      display: block;
      box-sizing: border-box; }
      .selection .article + .article:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden; }

  .nav {
    background-color: #2e70ea; }

  .foot {
    width: 32.33333%;
    float: left;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1%; }
    .foot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  .foot + .foot {
    width: 32.33333%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    float: left;
    display: block;
    box-sizing: border-box; }
    .foot + .foot:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }

  /* END ARTICLE */ }
@media (min-width: 1200px) {
  .hero h2 {
    padding-left: 6px; }

  .produit {
    padding: 2em 1.5em; }

  .invisible-link li a {
    padding-top: 8px; } }
@media (max-width: 1200px) {
  .invisible-link li:first-child {
    border-left: 0; }
  .invisible-link li:last-child {
    border-right: 0; } }
/* END MEDIA*/
