
@import "variables";
@import "mixin";
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "icons";
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);
@include body();
@include container();
@include heading();
@include section();
@include wrapper();
@include article();
@include breadcrumbs();
@include btn();
@include label();
@include input();
@include img();
@include icon();
/* GENERAL */
.hero{
	display:inline-block;
	width:100%;
	background-color: $mc;
	font-weight: 400;
	color:white;
	font-size: 16px;
	//padding:0 1em;
	height: 40px;
	box-sizing:border-box;
	text-align: left;
	vertical-align: middle;
	position:relative;
	font-family: Oswald,'helvetica neue',arial;
	a{
		color:white;
		text-decoration: none;
		display:inline-block;
		width:100%;
		height:100%;
		padding:0 1em;
		vertical-align: middle;
		padding-top:5px;
		box-sizing:border-box;
		&:hover,&:focus{
			background-color: $greyD2;
		}
	}
	h2{
		font-size: 16px;
		text-decoration: none;
		border:0;
		margin:0;
		padding:0;
		text-align: left;
		display:inline-block;
		width:100%;
		height:100%;
		font-weight: 400;
		box-sizing:border-box;
		position:absolute;
		left:0;
		padding:0 1em;
		padding-top: 10px;
	}

}

/* END GENERAL */

/* MAIN */

.main{
	background-color: $greyL2;
	padding-bottom: 1em;
}
/* END MAIN*/

/* SEARCH */
.search{
	height:40px;
}
form{
	height:100%;
}
input{
	margin:0;
}
input[type=submit]{
	margin:0;
}
input[type=search]{
	width:90%;
	height:100%;
	&:hover,&:focus{
		@include box-shadow(0 0 0 0);
	}
}
input[type=submit].icon-search{
	width:10%;
	background-color: $greyL;
	height:100%;
	&:hover,&:focus{
		@include box-shadow(0 0 0 0);
	}
}
/* END SEARCH */

/* NAVIGATION */
.menu{
	background-color: $greyD2;
	&>a:first-child{
		&:hover,&:focus{
			background-color: $mc;
		}
	}
}
.nav{
	.invisible-link{
		width:100%;
		display:block;
		background-color: $greyD2;
		font-weight: 400;
		font-family: Oswald,'helvetica neue','helvetica',arial;
		text-transform: uppercase;
		li{
			display:inline-block;
			width:100%;
			color:white;
			padding:0.6em 1em;
			border-bottom:1px solid darken($greyD2H,5%);
			box-sizing:border-box;
			margin:0;
			top:0;
			a{
				color:white;
				text-decoration: none;
				display:block;
				width:100%;
				height:100%;
				float:left;
			}
			&:last-child{
				border-bottom: 0;
			}
			&:hover{
				background-color: $mc;
			}
		}

	}
	.maxDev{

		li{
			height:250px;
			background-color: white;
			margin: 1em 0;
			color:$tc;
			text-overflow:ellipsis;
			overflow:hidden;
			a{
				display:inline-block;
				height:auto;
				color:$tc;
				width:70%;
				-ms-text-overflow:ellipsis;
				-webkit-text-overflow:ellipsis;
				-moz-text-overflow:ellipsis;
				text-overflow:ellipsis;
			}
			.imgMenu{
				display:block;
			}
			&:hover{
				background-color: white;
			}
		}

	}
}
/* END NAVIGATION */

/* PANIER */
.panierItem{
	display:block;
	min-height: 150px;
	background-color:$greyL;
	padding:1em 1em;
}
/* END PANIER */

/* INTRO */
.intro{
	background-image: url('../img/framework/background/background-text1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding:1em 1em;
	color:white;
	min-height: 250px;
	font-family: Oswald,'helvetica neue',helvetica,arial;

	h3{
		margin-bottom: 1em;
		padding-bottom: 0.5em;
	}
	p{
		font-size: 18px;
		font-family: inherit;
		line-height: 1.8;
	}
}
/* END INTRO */

/* ARTICLE */

.selection{
	background-color: $greyL2;
	padding:1em 0;
	.article{
		@include c(10);
		background-color: white;
		padding-bottom: 0;
		margin-bottom: 1em;
		margin-top: 1em;
		position:relative;
		height:400px;
		width:300px;
		overflow:hidden;
		.informationsArticle{
			background-color: $greyL;
			padding:1em 1em;
			padding-bottom: 1em;
			height:132px;
			position:relative;
			box-sizing: border-box;
		}
		.image{
			margin: auto;
			max-width: 100%;
			height:266.6666px;
			text-align: center;
			overflow:hidden;
			position:relative;
			pointer-events:auto;
			
			img{
				@include c(12);
				max-height:100%;
				top:0;
				left:0;
				bottom:0;
				right:0;
				margin: auto;
				position:absolute;
				z-index:1;
			}

			
		}
		.image:hover  .overImage,{
			position:absolute;
			top:0;
			bottom:0;
			background-color: $mc;
			display:block;
			height:266.6666px;
			width:100%;
			z-index: 10;
			pointer-events:none;
			text-indent: 0;
			padding:1em;

			h3{
				border-bottom: 1px solid white;
				margin-bottom: 1em;
				padding-bottom: 0.5em;
			}
		}
		.overImage{
			position:absolute;
			top:50%;
			left:0;
			right:0;
			bottom:50%;
			background-color: $mc;
			background-position: -100px;
			display:block;
			height:0;
			width:100%;
			box-sizing:border-box;
			z-index: 10;
			color:white;
			text-align: left;
			
			text-indent: -99999px;
			overflow:hidden;
			text-overflow:ellipsis;
			&:hover{
				height:266.6666px;
				top:0;
				bottom:0;
				text-indent: 0;
				padding:1em;
			}
			h3{
				border:none;
				font-weight: bold;
				font-size: 1.5em;
			}
		}
		h3{
			font-size: 15px;
			font-weight: 400;
		}
		.infoProduct{

			@include c(4);
			text-align: center;
			.price{
				font-size: 20px;
				font-weight: 700;
				color:darken($mc,10%);
			}

		}
		.interactionProduct{
			@include c(12);
			text-align: center;

			a{
				margin-right: 0.5em;
				float:left;
				width:120px;
				height:40px;
				vertical-align: middle;
				line-height: 1.2;

			}
			a+a{
				float:right;
				margin-left: 0.5em;
			}
		}
	}

}


/* END ARTICLE */

/* FOOTER */

.footer{
	border-top: 10px solid $greyD;
	padding:1em;
	background-color: $footer;
	color:white;
	min-height: 200px;
	text-align: left;
	h2{
		font-size: 1.5em;
		margin-bottom: 0.5em;
		margin-top: 1em;
		text-align: left;

	}
	span.icon{
		float:left;
		margin-top: 4px;
	}
	a{
		color:white;


	}
	.informationsShop{
		@include c(12);
		margin-top: 1em;
	}
	.info{
		display:inline-block;
		padding:0.5em ;
		background-color: $mc;
		@include c(12);
		
	}
	.info + .info{
		
	}
}

/* END FOOTER */